/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Open Sans', 'Arial', 'sans-serif';
  font: #000;
  background-color: #F0D8A8;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding: 10px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.angular-google-map-container {
  height: 400px;
  width: 100%;
}

.info-window {
  text-align: center;
  background: #D00;
  color: white;
  padding: 5px;
}

.bar {
  border-left: 1px dashed #FA2A00;
  border-bottom: 1px dashed #FA2A00;
  margin-bottom: 10px;
}

.bar h5 {
  text-align: center;
}

.side-bar {
  display: inline-block;
  width: 48%
}

.title {
  text-align: center;
  border-bottom: 2px solid black;
}

find-near-button {
  display: inline-block;
}