/*=========================*/
/*GENERAL + FOOTER + HEADER*/
/*=========================*/
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Open Sans', 'Arial', 'sans-serif';
  font: #000;
  background-color: #EFEFEF;
}

a {
  color: #86B8B1;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.footer {
  padding-top: 19px;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}
/*===========*/
/*GOOGLE MAPS*/
/*===========*/
.angular-google-map-container {
  height: 400px;
  width: 100%;
}

.info-window {
  text-align: center;
  background: #FA2A00;
  color: white;
  padding: 5px;
}

.fa-frown-o {
  color: #FA2A00;
}
/*==========*/
/*SIDE PANEL*/
/*==========*/
.side-bar-half {
  text-align: center;
  display: inline-block;
  width: 48%;
  padding: 2%;
}

.side-bar-thirds {
  text-align: left;
  display: inline-block;
  width: 72%
}

.side-bar-third {
  text-align: center;
  display: inline-block;
  width: 24%;
}

.frown {
  padding-top: 10%;
  font-size: 1.2em;
  text-align: center;
}
/*==========*/
/*BARS PANEL*/
/*==========*/
.title {
  text-align: left;
  border-bottom: 2px solid black;
}

.bar {
  border-left: 1px dashed #FA2A00;
  border-bottom: 1px dashed #FA2A00;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.bar h5 {
  text-align: center;
}
