/*=========================*/
/*GENERAL + FOOTER + HEADER*/
/*=========================*/
body {
  font-family: 'Lato', 'sans-serif';
  color: #000;
  background-color: #FCFDE9;
}

p {
  margin: 0;
}

.container {
  width: 100%;
}

a:hover {
  text-decoration: none;
}

.bar {
  font-size: 13px;
  border-left: 1px dashed #000;
  border-bottom: 1px dashed #000;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.header, .footer {
  background-color: #e74c3c;
  padding: 1px 10px;
  color: #ecf0f1;
}

.header {
  border-bottom: 4px solid rgba(16, 104, 154, .8);
}

.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}

.nav > li > a {
  padding: 15px 15px;
}

.logo {
  font-size: 20px;
  height: 50px;
  padding: 15px 15px;
  line-height: 20px;
  color: #ecf0f1;
}

.logo:hover {
  color: #FFF;
}

.navbar-default .navbar-toggle {
  background: #ecf0f1;
  border-color: #e74c3c;
}

.header {
  margin-bottom: 5px;
}

.footer {
  text-align: center;
}
/*===========*/
/*GOOGLE MAPS*/
/*===========*/
.angular-google-map-container {
  height: 400px;
  width: 100%;
}

.info-window {
  text-align: center;
  background: #e74c3c;
  color: #FFF;
  padding: 5px;
  border: 5px dotted #FFF;
}
/*==========*/
/*SIDE PANEL*/
/*==========*/
.frown {
  font-size: 1.2em;
  text-align: center;
}

.frown:hover {
  cursor: pointer;
  cursor: hand;
}

.frown > .fa-smile-o {
  color: #e74c3c;
}
/*==========*/
/*BARS PANEL*/
/*==========*/
.title-h, .title-n {
  text-align: center;
  margin-bottom: 20px;
  color: #e74c3c;
}
.title {
  padding: 5px;
  border: solid 2px #e74c3c;
}

.icon {
  padding-left: 5px;
}

.bar .fa {
  font-size: 150%;
}

.bar-icons {
  padding-top: 10px;
}

.bar-info {
  padding-bottom: 0;
  margin-bottom: 0;
}

.bar-info > p {
  margin-bottom: 2px;
}

.bar-name {
  padding: 7px;
  text-align: center;
  background-color: rgba(16, 104, 154, .8);
  border-bottom: 2px solid #e74c3c;
  color: #ecf0f1;
  border-radius: 3px;
  max-width: 80%;
  margin: 0 auto;
}

.bar-name:hover {
  cursor: pointer;
  cursor: hand;
  background-color: #e74c3c;
}

.bar-links {
  text-align: center;
}
/*===========*/
/*SEARCH PAGE*/
/*===========*/
.no-bars-found {
  text-align: center;
}

.no-bars-found > span{
  color: #000;

}

.search-again {
  text-align: center;
  font-size: 70%;
}

.search-again > span {
    padding: 10px;
    background-color: rgba(231, 76, 60, .9);
    border-radius: 5px;
    color: #ecf0f1;
}

.search-again:hover {
  cursor: pointer;
}

.search-again > span:hover {
  background-color: rgba(231, 76, 60, .8);
}

.cbp-mc-form {
    position: relative;
}

.cbp-mc-form:before,
.cbp-mc-form:after {
    content: " "; display: table;
}

.cbp-mc-form:after {
    clear: both;
}

.cbp-mc-column {
    width: 33%;
    padding: 0 30px;
    float: left;
}

.cbp-mc-form label {
    display: block;
    padding: 15px 5px 5px 2px;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
    line-height: 1.5;
    font-size: 1em;
    padding: 5px 10px;
    color: #000;
    display: block;
    width: 100%;
    background: transparent;
}

.cbp-mc-form input,
.cbp-mc-form textarea {
    border: 1px solid #000;
}

.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
    outline: none;
    border: 1px solid #e74c3c;
}

.cbp-mc-form select:focus {
    outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #e74c3c;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #e74c3c;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #e74c3c;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #e74c3c;
    font-style: italic;
}

.cbp-mc-submit-wrap {
    text-align: center;
    padding-top: 25px;
    clear: both;
}

.cbp-mc-form input.cbp-mc-submit {
    background: #10689a;
    border: none;
    color: #fff;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 30px;
    font-size: 1em;
    border-radius: 2px;
    letter-spacing: 1px;
}

.cbp-mc-form input.cbp-mc-submit:hover {
    background: #1478b1;
}
/*===========*/
/*MEDIA QUERY*/
/*===========*/
@media screen and (min-width: 1200px) {
  .main-bar {
    min-height: 120px;
  }
  .side-bar {
    min-height: 135px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 990px) {
  .side-bar {
    min-height: 170px;
  }
}

@media screen and (min-width: 995px) {
  .search-again {
    padding: 150px 20px;
    font-size: 100%;
  }
  .frown {
    padding-top: 10%;
  }
}

@media screen and (max-width: 800px) {
  body p, h5 {
    font-size: 95%;
  }
}

@media screen and (max-width: 600px) {
  .angular-google-map-container {
    height: 240px;
  }
}

@media screen and (max-width: 550px) {
  body p, h5 {
    font-size: 90%;
  }
  .side-bar {
    min-height: 120px;
  }
  .main-bar {
    min-height: 110px;
  }
  .angular-google-map-container {
    width: 100%;
    margin-bottom: 20px;
  }
  .title-h {
    font-size: 1.5em;
  }
  .search-again {
    font-size: 60%;
  }
}

@media screen and (max-width: 500px) {
  .side-bar, .main-bar {
    min-height: 126px;
  }
}

@media screen and (max-width: 450px) {
  .side-bar, .main-bar {
    min-height: 130px;
  }
}

@media screen and (max-width: 350px) {
  body p, h5 {
    font-size: 88%;
  }
  .bar {

  }
}

@media screen and (max-width: 70em) {
    .cbp-mc-column {
        width: 50%;
    }
    .cbp-mc-column:nth-child(3) {
        width: 100%;
    }
}

@media screen and (max-width: 48em) {
    .cbp-mc-column {
        width: 100%;
        padding: 10px;
    }
}