<div class="col-md-3 about link-skewed">
  <h2 class="title-h"><span class="title">ACKNOWLEDGEMENTS</span></h2>
  <p>This app would not have been possible without the data gathered by <a href="https://github.com/minimaxir/get-bars-from-foursquare">Max Woolf</a> or the help and support of my instructors and classmates at <a href="http://fullstackacademy.com">Fullstack Academy.</a></p><br>
  <p>Much of the credit for the styling of this app goes to <a href="http://tympanus.net/codrops/">Codrops</a>, an excellent source of CSS tutorials and articles.</p>
</div>
<div class="col-md-3 about">
  <h2 class="title-h"><span class="title">CONTACT</span></h2>
  <p>Made by <a href="http://laudsome.com">Sam Lau</a> at <a href="http://fullstackacademy.com">Fullstack Academy.</a></p><br>
  <p>Reach out at <a href="mailto:slau234@gmail.com">slau234@gmail.com</a></p><br>
  <p class="social-icons">
    <a href="http://github.com/schmooie"><span class="fa fa-github fa-2x"></span></a>
    <a href="http://twitter.com/schmooiee"><span class="fa fa-twitter fa-2x"></span></a>
  </p>
</div>
<div class="col-md-3 about">
  <h2 class="title-h"><span class="title">FAQs</span></h2>
  <p><strong>The data is inaccurate.</strong></p>
  <p>That's not a question. The data was scraped off Foursquare and is presented as is. I'm sorry for any inconveniences.</p><br>

  <p><strong>Why isn't the address or happy hour times shown?</strong></p>
  <p>Unfortunately, the dataset that's used here isn't fully comprehensive. If you have a better source of data feel free to reach out and I'd love to implement it.</p>
</div>
<div class="col-md-3 about">
  <h2 class="title-h"><span class="title">TECHNOLOGIES</span></h2>
  <ul>
    <li><span class="mean">MongoDB</span></li>
    <li><span class="mean">Express.io</span></li>
    <li><span class="mean">Angular.js</span></li>
    <li><span class="mean">Node.js</span></li>
  </ul>
</div>