<div class="col-sm-3 about">
  <h2 class="title-h"><span class="title">THE STACK</span></h2>
  <ul>
    <li><span class="mean">MongoDB</span> for my data</li>
    <li><span class="mean">Express</span> for my backend</li>
    <li><span class="mean">Angular</span> for my frontend</li>
    <li><span class="mean">Node</span> for awesomeness</li>
  </ul>
</div>
<div class="col-sm-5 about">
  <h2 class="title-h"><span class="title">ACKNOWLEDGEMENTS</span></h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, mollitia, deleniti, quae laboriosam quasi quas iusto consequatur aperiam nisi labore sit distinctio fuga adipisci doloremque numquam facere aliquid error maxime vitae molestias! Dolorum, quod, magni, fugit, laudantium earum nemo molestias vel iste iure distinctio impedit iusto unde voluptatibus animi quisquam.</p>
</div>
<div class="col-sm-4 about">
  <h2 class="title-h"><span class="title">CONTACT</span></h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ducimus odit aperiam possimus nemo sint laboriosam velit! Corporis, ipsam, ex.</p>
</div>