<ul class="cbp-ig-grid">
    <li>
        <a href="/nearby">
            <span class="cbp-ig-icon icon-glass"></span>
            <h3 class="cbp-ig-title">HAPPY</h3>
            <span class="cbp-ig-category">Nearby</span>
        </a>
    </li>
    <li>
        <a href="/search">
            <span class="cbp-ig-icon icon-search"></span>
            <h3 class="cbp-ig-title">DRANKS</h3>
            <span class="cbp-ig-category">Search All</span>
        </a>
    </li>
    <li>
        <a href="/about">
            <span class="cbp-ig-icon icon-user"></span>
            <h3 class="cbp-ig-title">DRANKS</h3>
            <span class="cbp-ig-category">About</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="cbp-ig-icon icon-happy"></span>
            <h3 class="cbp-ig-title">HAPPY</h3>
            <span class="cbp-ig-category">What You Look Like Drunk</span>
        </a>
    </li>
</ul>