<ul class="cbp-ig-grid">
    <li>
        <a href="/nearby">
            <span class="cbp-ig-icon icon-glass"></span>
            <h3 class="cbp-ig-title">NEARBY</h3>
            <span class="cbp-ig-category">HAPPY HOURS NEAR YOU</span>
        </a>
    </li>
    <li>
        <a href="/search">
            <span class="cbp-ig-icon icon-search"></span>
            <h3 class="cbp-ig-title">SEARCH</h3>
            <span class="cbp-ig-category">SEARCH ALL THE HAPPY HOURS</span>
        </a>
    </li>
    <li>
        <a href="/about">
            <span class="cbp-ig-icon icon-user"></span>
            <h3 class="cbp-ig-title">ABOUT</h3>
            <span class="cbp-ig-category">& FAQS</span>
        </a>
    </li>
    <li>
        <a href="/nearby">
            <span class="cbp-ig-icon icon-happy"></span>
            <h3 class="cbp-ig-title">HAPPY DRANKS</h3>
            <span class="cbp-ig-category">WHAT YOU'LL SOON LOOK LIKE</span>
        </a>
    </li>
</ul>