<div ng-include="'partials/navbar'"></div>

<div class="col-md-12">
  <div class="row">
    <div class="col-md-8"> <!-- maps -->
      <google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options"ng-cloak>
        <markers models="bars" idkey="'_id'"coords="'self'" click="'onClicked'">
          <windows show="'showWindow'" closeclick="'closeClick'" options="'windowOptions'" ng-cloak>
            <div class="info-window">
              <p ng-non-bindable>
                <strong>{{name}}</strong></p>
              <p ng-non-bindable>Price: {{price}}  |  Rating: {{rating}}</p>
            </div>
          </windows>
        </markers>
      </google-map>
    </div> <!-- end of maps -->
    <div class="col-md-4">
      <button class="btn btn-danger"ng-click="findNear()">
        <span class="glyphicon glyphicon-screenshot"></span>
        NEARBY
      </button>

    </div>




  </div>


</div>

<div class="col-md-12">
  <h2 class="title">HAPPY HOURS NEAR YOU</h2>
  <div class="col-md-3 bar" ng-repeat="bar in bars">
    <h5>
      <strong>{{bar.name}}</strong>
      <a ng-href="{{bar.fs_url}}"><i class="icon-foursquare"></i></a>
      <a ng-show="{{bar.url}}"ng-href="{{bar.url}}"><i class="icon-external-link-sign"></i></a>
    </h5>
    <div class="col-md-6">
      <p>
        Price: {{bar.price}}
      </p>
    </div>
    <div class="col-md-6">
      <p>Rating: {{bar.rating}}</p>
    </div>
  </div>
</div>

<div class="footer">
  <p>I ♥ getting drunk.</p>
</div>