<div ng-include="'partials/navbar'"></div>

<div class="col-md-12">
  <google-map center="map.center" zoom="map.zoom" draggable="true">

    <markers models="bars" idkey="'_id'"coords="'self'" click="'onClicked'">
      <windows show="'showWindow'" closeclick="'closeClick'" options="'windowOptions'">
        <div>
          <p>FUCK</p>
        </div>
      </windows>
    </markers>

 </google-map>
  <button type="submit" class="btn btn-default" ng-click="findNear()">Near Me</button>
</div>

<div class="col-md-12">
  <h3>Happy Hours Near You</h3>
  <div class="col-md-4" ng-repeat="bar in bars">
  <h4><em>{{bar.name}}</em></h4>
  </div>
</div>

<div class="footer">
  <p>I ♥ getting drunk.</p>
</div>