<div class="header navbar navbar-default" role="navigation" ng-controller="NavbarCtrl">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/"><span class="logo fa fa-smile-o fa-2x"> HAPPY DRANKS</span></a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/">HOME</a>
      </li>
      <li>
        <a href="/nearby">NEARBY</a>
      </li>
      <li>
        <a href="#/search">SEARCH</a>
      </li>
      <li>
        <a href="#/about">ABOUT</a>
      </li>
    </ul>
  </div>


 </div>
